{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "globals": {
    "Vue": true
  },
  "rules": {
    "eqeqeq": "off",
    "func-names": "off",
    "no-console": "off",
    "no-unused-vars": "off",
    "no-underscore-dangle": "off",
    "no-param-reassign": "off",
    "implicit-arrow-linebreak": "off",
    "operator-linebreak": "off"
  }
}
